<!DOCTYPE html>

<html lang="en">
<body>
<h1>Сервис для анализа покупок клиентов</h1>
<label>В БД загружено {{checkCount}} чеков для {{kppCount}} КПП</label>
<h1>Я могу показать: <h1>
<a href="/getSum">Сумму покупок за день</a>
</br>
<a href="/getTopProduct">Топ 3 товаров для КПП</a>
</body>
</html>